* {
    margin: 0;
    padding: 0;
}

/*****************animationer**********************/
.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.2);
    }
}

/*billede drejer og forsvinder*/
.hide-start {
    animation-name: hide-start;
    animation-duration: 2s;
    animation-iteration-count 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes hide-start {
    0% {
        transform: rotatey(0deg);
        opacity: 1;

    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotatey(360deg);
        opacity: 0;

    }
}

/*  Billedet kommer ind fra siden, og står stille lidt*/
.swoop {
    animation-name: swoop_kf;
    animation-duration: 1.9s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes swoop_kf {
    0% {
        transform: translateX(-22vw)
    }

    25% {
        transform: translateX(0vw)
    }

    90% {
        transform: translateX(0vw)
    }

    100% {
        transform: translateX(25vw)
    }
}

/* Billede move */

.blur {
    filter: blur(5px) brightness(80%);
}

.hide {
    display: none;
}

.show {
    visibility: visible;
}

/********************sprite animation********************/
.on {
    background-position: 0;
}

.off {
    background-position: -400% 0;
}


.off_on {
    animation-name: on_off_kf;
    animation-direction: reverse;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: steps(4);

}

.on_off {
    animation-name: on_off_kf;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

@keyframes on_off_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

/*****************animationer slut***************/






/*****************Game skærme***************/
#start {
    background-image: url(SVG/start_background.svg);
    position: absolute;
    height: 56.25vw;
    width: 100vw;
    top: 0;
    background-size: 100%;
}


#playknap {
    background-image: url(SVG/play_knap.svg);
    position: relative;
    height: 15vw;
    width: 30vw;
    top: 25vw;
    left: 32vw;
    background-size: 100%;
}

#replayknap {
    position: absolute;
    background-image: url(SVG/replay_knap%20.svg);
    height: 12vw;
    width: 10vw;
    top: 40vw;
    left: 75vw;
}

#settingsknapstart {
    position: absolute;
    background-image: url(SVG/setting_knap_start.svg);
    height: 7vw;
    width: 7vw;
    top: 0vw;
    left: 93vw;
    background-size: 100%;
}

#settingsknap {
    position: absolute;
    background-image: url(SVG/setting_knap.svg);
    height: 7vw;
    width: 7vw;
    top: 0vw;
    left: 93vw;
    background-size: 100%;
}

#game_background {
    position: relative;
    height: 56.25vw;
    background-size: 100%;
    background-image: url(SVG/spilsk%C3%A6rm%20.svg);
}

#gameover1 {
    position: absolute;
    height: 56.25vw;
    width: 100vw;
    top: 0;
    background-size: 100%;
    background-image: url(SVG/game%20over%201.svg);
}

#gameover2 {
    position: absolute;
    height: 56.25vw;
    width: 100vw;
    top: 0;
    background-size: 100%;
    background-image: url(SVG/game%20over%202.svg);
}

#levelcomplete {
    position: absolute;
    height: 56.25vw;
    width: 100vw;
    top: 0;
    background-size: 100%;
    background-image: url(SVG/level%20complete%20sk%C3%A6rm.svg);
}

#settings {
    position: absolute;
    height: 56.25vw;
    width: 100vw;
    top: 0;
    background-size: 100%;
    background-image: url(SVG/setting_background.svg);
}

/*****************Game skærme***************/
/*****************Sluk knappen***************/
#luk1 {
    background-image: url(SVG/kryds_knap_mobil.svg);
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 15vw;
    background-size: 100%;
}

#luk2 {
    background-image: url(SVG/kryds_knap_mobil.svg);
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 15vw;
    background-size: 100%;
}

#luk3 {
    background-image: url(SVG/kryds_knap_mobil.svg);
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 15vw;
    background-size: 100%;
}

#luk4 {
    background-image: url(SVG/kryds_knap_mobil.svg);
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 15vw;
    background-size: 100%;
}

#luk5 {
    background-image: url(SVG/kryds_knap_mobil.svg);
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 15vw;
    background-size: 100%;
}

#luk6 {
    background-image: url(SVG/kryds_knap_mobil.svg);
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 15vw;
    background-size: 100%;
}

#luk7 {
    background-image: url(SVG/kryds_knap_mobil.svg);
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 15vw;
    background-size: 100%;
}

#luksettings {
    background-image: url(SVG/kryds_knap_mobil.svg);
    position: absolute;
    width: 7vw;
    height: 7vw;
    left: 89vw;
    top: 2vw;
    background-size: 100%;
}

/*****************Sluk knappen***************/
/*****************Billederne***************/
.billede {
    position: absolute;
    background-color: antiquewhite;
    top: 0vw;
    left: 0vw;
    width: 23vw;
    height: 33vw;
    background-size: 100%;
}

#game_elements {
    position: absolute;
    background-color: aqua;
    top: 8vw;
    left: 36vw;
    width: 22vw;
    height: 32vw;
    overflow: hidden;
}

#billed1 {
    background-image: url(SVG/Bryster.svg)
}

#billed2 {
    background-image: url(SVG/Lumse.svg)
}

#billed3 {
    background-image: url(SVG/Tissekone.svg)
}

#billed4 {
    background-image: url(SVG/Tissemann.svg)
}

#billed5 {
    background-image: url(SVG/Kaffe.svg)
}

#billed6 {
    background-image: url(SVG/Kat.svg)
}

#billed7 {
    background-image: url(SVG/Natur.svg)
}


#politi_thumbsup {
    position: absolute;
    background-image: url(SVG/tommel_op_politi.svg);
    background-size: 500% 100%;
    top: 8vw;
    left: 4vw;
    width: 45vw;
    height: 45vw;
    display: inline-block;
}

#surpoliti {
    position: absolute;
    background-image: url(SVG/h%C3%A5ndjern_politi.svg);
    background-size: 500% 100%;
    top: 8vw;
    left: 4vw;
    width: 45vw;
    height: 45vw;
    display: inline-block;
}

#billede1 {
    background-image: url(SVG/Bryster.svg);
    cursor: grab;
}

#billede2 {
    background-image: url(SVG/Lumse.svg);
    cursor: grab;
}

#billede3 {
    background-image: url(SVG/Tissekone.svg);
    cursor: grab;
}

#billede4 {
    background-image: url(SVG/Tissemann.svg);
    cursor: grab;
}

#billede5 {
    background-image: url(SVG/Kaffe.svg);
    cursor: grab;
}

#billede6 {
    background-image: url(SVG/Kat.svg);
    cursor: grab;
}

#billede7 {
    background-image: url(SVG/Natur.svg);
    cursor: grab;
}

#points {
    position: fixed;
    top: 0vw;
    left: 2vw;
    width: 20vw;
    height: 20vw;
}

#points,
p {
    font-size: 20vw;
    color: yellow;
}
